{
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "arrowParens": "always"
}
